//colors
$white: #fff !default;
$black: #000 !default;
$blue: #158aff !default;
$deep-blue: #0064c9 !default;
$dark-blue: #172b4d !default;
$dark-gray: #6c798f !default;
$light-gray-blue: #42526e !default;
$dark-grey-blue: #344563 !default;
$dark-indigo: #091e42 !default;
$blue-gray: #8993a4 !default;
$error: #f45f5f !default;

$signIn: #fac143 !default;
$signUp: #9e67f0 !default;

//fonts
$base-font: 'Rubik', sans-serif !default;
$heading-font: 'Source Sans Pro', sans-serif !default;

