@import "~normalize.css";
@import "./partials/variables";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: $base-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}
